In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('breast-cancer-wisconsin.data',names=[
'Sample_code_number',
'Clump_Thickness',
'Uniformity_of_Cell_Size',
'Uniformity_of_Cell_Shape',
'Marginal_Adhesion',
'Single_Epithelial_Cell_Size',
'Bare_Nuclei',
'Bland_Chromatin',
'Normal_Nucleoli',
'Mitoses',
'Class'
])

In [3]:
data.head()

,Sample_code_number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
data.dtypes

Sample_code_number              int64
Clump_Thickness                 int64
Uniformity_of_Cell_Size         int64
Uniformity_of_Cell_Shape        int64
Marginal_Adhesion               int64
Single_Epithelial_Cell_Size     int64
Bare_Nuclei                    object
Bland_Chromatin                 int64
Normal_Nucleoli                 int64
Mitoses                         int64
Class                           int64
dtype: object

In [5]:
data

,Sample_code_number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [6]:
def is_non_numeric(x):
    return not x.isnumeric()

In [7]:
mask=data['Bare_Nuclei'].apply(is_non_numeric)

In [8]:
mask

0      False
1      False
2      False
3      False
4      False
       ...
694    False
695    False
696    False
697    False
698    False
Name: Bare_Nuclei, Length: 699, dtype: bool

In [9]:
data_nm=data[~mask]
print(data_nm)

     Sample_code_number  Clump_Thickness  Uniformity_of_Cell_Size  \
0               1000025                5                        1
1               1002945                5                        4
2               1015425                3                        1
3               1016277                6                        8
4               1017023                4                        1
..                  ...              ...                      ...
694              776715                3                        1
695              841769                2                        1
696              888820                5                       10
697              897471                4                        8
698              897471                4                        8

     Uniformity_of_Cell_Shape  Marginal_Adhesion  Single_Epithelial_Cell_Size  \
0                           1                  1                            2
1                           4                  5                            7
2                           1                  1                            2
3                           8                  1                            3
4                           1                  3                            2
..                        ...                ...                          ...
694                         1                  1                            3
695                         1                  1                            2
696                        10                  3                            7
697                         6                  4                            3
698                         8                  5                            4

    Bare_Nuclei  Bland_Chromatin  Normal_Nucleoli  Mitoses  Class
0             1                3                1        1      2
1            10                3                2        1      2
2             2                3                1        1      2
3             4                3                7        1      2
4             1                3                1        1      2
..          ...              ...              ...      ...    ...
694           2                1                1        1      2
695           1                1                1        1      2
696           3                8               10        2      4
697           4               10                6        1      4
698           5               10                4        1      4

[683 rows x 11 columns]

In [10]:
data_nm.head()

,Sample_code_number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [11]:
print(len(data))
print(len(data_nm))

699
683

In [12]:
data_nm['Bare_Nuclei']= data_nm['Bare_Nuclei'].astype('int64')

C:\Users\aneri\anaconda3\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
data_nm.dtypes

Sample_code_number             int64
Clump_Thickness                int64
Uniformity_of_Cell_Size        int64
Uniformity_of_Cell_Shape       int64
Marginal_Adhesion              int64
Single_Epithelial_Cell_Size    int64
Bare_Nuclei                    int64
Bland_Chromatin                int64
Normal_Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object

In [14]:
print(data_nm.dtypes)

Sample_code_number             int64
Clump_Thickness                int64
Uniformity_of_Cell_Size        int64
Uniformity_of_Cell_Shape       int64
Marginal_Adhesion              int64
Single_Epithelial_Cell_Size    int64
Bare_Nuclei                    int64
Bland_Chromatin                int64
Normal_Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object

In [15]:
updated_df = data
updated_df['Bare_Nuclei']=updated_df['Bare_Nuclei'].fillna(updated_df['Bare_Nuclei'].mean())

TypeError: Could not convert 1102411010111113391111011071?17111111511111107?31011191183458856110232821211091121104211311112948101111111111610551313101019291083521032121010711011011110112111?11551?821101105311011?1010113?210111111101010111101111010181081810111171111010111105111108110105114111058101105110781101?1029102115121091?1101010810111810101010311010411011041?1117111010101010151011?10?105?110411011010113511111?1081510?11011101410811101011011101011110111181131011310471010331110101111111111111101111101121101111111191141111211?4110310121310111101211111181011111043211111101111016103111511141010111111111111011510131103411011051111111111154111111101011110115101111111011111111121111110115111511111111111101310510101121111111010111101311101011011111111110811101102101111?111211146511111311121111111111214111111110111111111158111111111101011111111151121345 to numeric

In [16]:
data_input=data_nm.drop(columns=['Sample_code_number','Class'])
data_output=data_nm['Class']

In [17]:
data_input.head()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1

In [18]:
data_output.unique()

array([2, 4], dtype=int64)

In [19]:
data_output=data_output.replace({2:0, 4:1})

In [20]:
data_output.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data_input,data_output,test_size=0.2,random_state=1)
x_train,x_val,y_train,y_val=train_test_split(x_train,y_train,test_size=0.2,random_state=1)

In [22]:
x_train.shape

(436, 9)

In [23]:
x_val.shape

(110, 9)

In [24]:
x_test.shape

(137, 9)

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
model_1=  DecisionTreeClassifier(max_depth=3)

In [27]:
model_1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=3)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
y_pred_train=model_1.predict(x_train)

In [30]:
y_pred_val=model_1.predict(x_val)

In [31]:
print(accuracy_score(y_train,y_pred_train))

0.9701834862385321

In [32]:
print(accuracy_score(y_val,y_pred_val))

0.9272727272727272

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [34]:
tree_para={'criterion':['gini','entropy'],'max_depth':[5,10,15,20,25,40,50,60,100]}
clf=GridSearchCV(DecisionTreeClassifier(),tree_para,cv=5)
clf.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 10, 15, 20, 25, 40, 50, 60, 100]})

In [35]:
clf.best_params_

{'criterion': 'entropy', 'max_depth': 5}

In [36]:
model=  DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [37]:
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [38]:
y_pred_train=model.predict(x_train)
y_pred_val=model.predict(x_val)

In [39]:
print(accuracy_score(y_train,y_pred_train))

0.9747706422018348

In [40]:
print(accuracy_score(y_val,y_pred_val))

0.9454545454545454

In [41]:
y_pred_test=model.predict(x_test)

In [42]:
print(accuracy_score(y_test,y_pred_test))

0.9562043795620438

In [43]:
import pickle

In [44]:
with open('save-model.pickle','wb') as f:
    pickle.dump(model,f)